@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Patua+One&family=Piedra&display=swap");

:root {
  --dm-serif: "DM Serif Display";
  --piedra-serif: "Piedra", serif;
  --color-black: black;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "DM Serif Display", serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #fffaf2;
}

section {
  padding: 2rem;
}

/********************* header ************************/

.header {
  display: flex;
  flex-direction: column;
}

.header_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 5rem;
}

.header_a{
  text-decoration: none;
  padding: 0.5rem;
  margin: 2.5rem 0 0 2rem;
  border-radius: 0.5rem;
  position: absolute;
  font-size: 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

/*MAIN*/

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.tituloBoton{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 1rem;
}

.tituloSecciones {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
}
.table {
  gap: 1rem;
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

td {
  padding: 8px;
  text-align: center;
}

th {
  padding: 8px;
  text-align: left;
}

img{
    width: 100px;
    height: 100px;
}


/*BOTON  Agregar*/
.Agregar {
  color: white;
  background-color: #1150b5;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  width: 150px;
  height: 50px;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  overflow: hidden;
}

.Agregar:hover {
  background-color: #1150b5;
}

.Agregar svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

/*BOTON  EDITAR*/
/* From Uiverse.io by JaydipPrajapati1910 */
.editar {
  color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  width: 150px;
  height: 50px;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  overflow: hidden;
}

.editar:hover {
  background-color: #333;
}

.editar svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.editar:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*BOTON ELIMINAR*/
.eliminar {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e62222;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  transition: 200ms;
  font-size: 1rem;
}

.eliminar .text {
  transform: translateX(35px);
  color: white;
  transition: 200ms;
}

.eliminar .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.eliminar svg {
  width: 15px;
  fill: #eee;
  transition: 200ms;
}

.eliminar:hover {
  background: #ff3636;
}

.eliminar:hover .text {
  color: transparent;
}

.eliminar:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.eliminar:focus {
  outline: none;
}

.eliminar:active .icon svg {
  transform: scale(0.8);
}

.divAcciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

/*FOOTER*/

.footer {
  display: grid;
  place-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
}
.footer h4 {
  font-size: 3rem;
}

.footer p {
  font-size: 1.5rem;
}